

@font-face {
    font-family:digital;
    src: url("../res/fonts/Babylon5Credits-Regular.ttf");
}


body {
    font-size:12px;
/*    height:100%;
    width:100%;*/
    color:#5b5b5b;

    background:#000 url("../res/graphics/back.jpg") repeat top center;
    background-attachment:fixed;
    margin:0;
    padding:0;
    overflow: auto;
}

a:link {text-decoration:none;color:#868686;}
a:visited {text-decoration:none;color:#868686;}
a:hover{text-decoration:none;color:#1B5676;}
a:active {text-decoration:none;color:#868686;}

::-webkit-scrollbar {width: 10px;height: 10px;}
::-webkit-scrollbar:vertical {background-color:#000;}
::-webkit-scrollbar-thumb:vertical {background-image:-webkit-gradient(linear, left top, right top, from(#061d35), to(#132d47));}
::-webkit-scrollbar-thumb:vertical:hover {background-image:-webkit-gradient(linear, left top, right top, from(#1f5c9b), to(#07213c));}
::-webkit-scrollbar:horizontal {background-color:#000;}
::-webkit-scrollbar-thumb:horizontal {background-image:-webkit-gradient(linear, left top, left bottom, from(#061d35), to(#132d47));}
::-webkit-scrollbar-thumb:horizontal:hover {background-image:-webkit-gradient(linear, left top, left bottom, from(#1f5c9b), to(#07213c));}


.loadingDiv{
    width:400px;
    margin:200px auto 50px auto;
}
.loadingDiv div{
    background:#000;
    border:1px solid #333;
    padding:10px;
}
.novisibility{
    visibility:hidden;
}

/*******************************************************/
/* goback */

div#goback{
    margin:0;
    position:fixed;
    padding:10px 0;
    top:0;
    width:100%;
    background:#000;
    border-bottom:1px solid #000000;
    font-family: digital;
    font-size:16px;
}
div#goback div.left{
    background:#000;
    width:250px;
}
div#goback div.right{
    float:right;
    text-align:right;
    background:#000;
}

div#goback a{
    margin:0 0 0 10px;
    padding:5px;
    background:transparent;
    -webkit-transition:all 0.1s ease-in-out;
    -moz-transition:all 0.1s ease-in-out;
}
div#goback a:hover{background:#222;}

div#goback span{
    margin:0 0 0 10px;
    padding:5px;
    background:transparent;
    -webkit-transition:all 0.1s ease-in-out;
    -moz-transition:all 0.1s ease-in-out;
}
div#goback span:hover{
    background:#222;
    cursor: pointer;
}

#doc_div{
    margin:50px 0 0 0;
    color:#1B5676;
    padding:10px 10px 10px 100px;
    z-index:-4444442;
    background:#000;
    font-weight: bold;
    border:1px solid #000000;
}


/*******************************************************/
/* index page */

#indexWrapper{
    margin:150px auto 50px auto;
    width:726px;
}
/*clear float*/
#indexWrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


div.indexFolderWrapper{
    float:left;
    width:200px;
    color:#333;
    height:50px;
    margin:10px;
    font-size:14px;
    text-align:center;
    padding:10px;
    background:#0a0a0a;
    border:1px solid #000;
    -webkit-transition:all 0.3s ease-in-out;
    font-family: digital;
    font-size:18px;
}
div.indexFolderWrapper:hover{
    color:#055572;
    cursor:pointer;
    background:#000;
    border:1px solid #1B5676;
}






/*******************************************************/
/* frontWrapper */

#frontWrapper{
    max-width:920px;
    margin:150px auto;
}
/*clear float and add 100px height*/
#frontWrapper:after {content: ".";display: block;height: 100px;clear: both;visibility: hidden;}
#frontWrapper > div{
    float:left;
    width:200px;
    margin:10px;
    text-align:center;
    background:#000;
    border:1px solid #000;
    -webkit-transition:all 0.1s ease-in-out;
}
#frontWrapper > div:hover{
    border:1px solid #1B5676;
    cursor:pointer;
}

#frontWrapper > div span{
    padding:5px;
    display:block;
    color:#484848;
	background: #0f0f0f;
}


/*******************************************************/
/* listWrapper */

.listWrapper{
    width:886px;
    margin:150px auto 150px auto;
}
.listWrapper:after {content: ".";display: block;height:150px;clear: both;visibility: hidden;}
.listItemWrapper{
    background:#0a0a0a;
    margin:10px;
    border:1px solid #000000;
    -webkit-border-radius: 5px;
    padding:10px;
    text-align:center;
}
img.movieBigWrapperCover{
    display:none;
}
div.divAfterPic{
	background: #0e0e0e; 
	padding:5px;
}
div.divAfterPic:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
span.spanSeasonNumber{
	padding:5px;
    float:left;
}
span.spanShowStoryboard{
    float:right;
    background: #000;
    padding:5px;
    -webkit-transition:all 0.1s ease-in-out;
}
span.spanShowStoryboard:hover{background:#1B5676;color:#000;cursor:pointer;}
span.spanShowEpisodes{
    float:right;
    background: #000;
    padding:5px;
    -webkit-transition:all 0.1s ease-in-out;
}
span.spanShowEpisodes:hover{
    background:#1B5676;
    color:#000;
    cursor:pointer;
}

span.video_launcher{
    background: #000;
    padding:5px;
    -webkit-transition:all 0.1s ease-in-out;
}
span.video_launcher:hover{background:#1B5676;color:#000;cursor:pointer;}

.videoFilesTable{
    font-size:12px;
    width:100%;
    text-align:left;
    border-spacing:0;
    display:none;
}
.videoFilesTable tr:nth-child(even){background:#0e0e0e;}
.videoFilesTable tr td:nth-child(1){
    width:200px;
    overflow:hidden;
    padding:0;
}
.videoFilesTable tr td:nth-child(2){
    padding:10px;
    vertical-align:bottom;
}
.videoFilesTable tr td:nth-child(3){
    vertical-align:bottom;
}
.videoFilesTable tr td:nth-child(3) span{
    display:block;
    text-align:right;
}
.videoFilesTable tr td:nth-child(4){
    vertical-align:bottom;
}
.videoFilesTable tr td:nth-child(4) span{
    display:block;
    text-align:right;
}


/*******************************************************/
/* edit */

div#editWrapper{
    width:600px;
    margin:200px auto 150px auto; 
   	padding:10px;
}
div#editWrapper span#refresher{
    display:block;
    width:100px;
	padding:10px;
	margin:10px;
	border:1px solid #000;
	background:#0a0a0a;
	-webkit-transition:all 0.5s ease-in-out;  
}
div#editWrapper span#refresher:hover{
    border:1px solid #1B5676;
    cursor:pointer;
	background:#1B5676;
	color:#000;
}

div#results{
	background:#0a0a0a;
	padding:10px;
	margin:10px; 
	display:none;   
}

/*******************************************************/
/* nav */
div#buttonsdiv{
    margin:40px 1px 0 0;
    text-align:right;
    font-family: digital;
}
div#buttonsdiv button{
    background:#0a0a0a;
    color:#5b5b5b;
    padding:10px;
    border:none;
    margin:0 1px 0 0;
    -webkit-transition:all 0.3s ease-in-out;
}
div#buttonsdiv button:hover{
    cursor:pointer;
    background:#1B5676;
    color:#000;
}
/*******************************************************/
/* about */

div#aboutWrapper{
    width:600px;
    margin:200px auto 150px auto; 
   	padding:10px; 
	background:#0a0a0a;
}
div#aboutWrapper pre{
    font-size:12px;
    font-family: "Verdana";
}



/*end*/
